{#  todo delete ?#}
<div style="display: inline-block;" data-tippy-content="<div>
<strong>{{ flattenAllTranslations['doType']['values'][doTypeIdentifier] ~' n° '~ doPieceIdentifier }}</strong>
</div>">
  <button type="button" id="desynchronize-order" data-desynchronize-order
          class="button">{{ 'Délier la commande Wordpress de Sage'|trans }}</button>
</div>
